@charset "utf-8";

section.on .box{
  /* float: left; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 660px;

  /* text-align: center; */
}
.box.img{

}
.text_box{
  /* display: inline-block; */
  text-align: left;
}
