@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
*{ padding: 0; margin: 0; box-sizing: border-box; }
/* html,body{ height: 100%; } */
body { font-family: 'Noto Sans KR', sans-serif; color: #2c2c2c; }
ul, ol{ list-style: none; }
h1,h2,h3,h4,h5,h6{ margin: 0; line-height: 1;}
/* img, svg, video { vertical-align: middle; } */
a{ text-decoration: none; color: #2c2c2c; }
a:hover{ text-decoration: underline; }

html,body{ width: 100%; height: 100%; }

/* 대표상 #001e36 */
/* 후보색 #1473e6 */
/* 공통 크기 */
#header, #mainbanner, section, #footer{
  min-width: 1320px;
}
.header_wrap, .mainbanner_wrap, .items_box, .footer_wrap{
  width: 1320px;
}
.inner, section .box{
  min-height: 600px;
}
/* section:nth-of-type(4) .inner, .bottom_banner{ height: 600px; } */

/* 공통 단추 */
.common_btn{
  margin-top: 33px;
  display: inline-block;
  padding: 0 36.5px 2px;
  height: 48px;
  font-size: 22px;
  line-height: 48px;
  font-weight: 700;
  border-radius: 100px;
  /* box-sizing: border-box; */
  transition-property: color, background-color, border;
  transition-duration: .2s;
  transition-timing-function: ease;
  box-sizing: initial;
  /* 첫 화면 불러올 때 너무 보기싫다 */
}
.btn1{
  color: #fff;
  background-color: #1473e6;
  border: 2px solid transparent;
}
.btn1:hover{
  color: #1473e6;
  background-color: transparent;
  border: 2px solid #1473e6;
}
.btn2{
  color: #fff;
  border: 2px solid #fff;
}
.btn2:hover{
  color: #001e36;
  background-color: #fff;
}


/* 헤더 공통 */
.header_items{
  padding: 0 20px;
}
/* 헤더 */
#header{
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: rgba( 255, 255, 255, 0.95 );
  border-bottom: 1px solid #f8f8f8;
  /* box-sizing: border-box; */
  box-shadow: 0 0 5px 0 rgba( 0, 0, 0, 0.15 );
  z-index: 10;
}
.header_wrap{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 60px;
}
.logo_area{
  position: absolute;
  left: 0;
}
.logo_area a{
  color: #FA0F00;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  line-height: 60px;
}
.logo_area img{
  position: relative;
  width: 24px;
  top: -2px;
}
.logo_area span{ margin-left: 7px; }

#gnb{
  display: inline-block;
  transition: .2s;
  /* text-align으로 정렬하기 위해 선언 */
}
#gnb li{ float: left; }
.signin_menu{
  float: right;
}
.signin_menu svg{
  position: relative;
  top: -1px;
  cursor: pointer;
}
/* 모바일 메뉴 버튼 */
#gnb_check{
  display: none;
}
#gnb_btn{
  display: none;
  position: relative;
  width: 32px;
  height: 32px;
  right: 20px;
  z-index: 100;
}
#gnb_btn span{
  position: absolute;
  display: inline-block;
  width: 32px;
  height: 2px;
  top: 16px;
  background: #666;
  transition: transform .2s;
  transform: translateY( -50% ) scaleX( 1 ) rotate( 0deg );
}
#gnb_btn span:nth-child(1){ top: 6px; }
#gnb_btn span:nth-child(2){
  top: 16px;
  transform-origin: left;
}
#gnb_btn span:nth-child(3){ top: 26px; }

#gnb_check:checked ~ #gnb_btn span{
  /* background: #fff; */
}
#gnb_check:checked ~ #gnb_btn span:nth-child(1){
  transform: translateY( 10px ) rotate( 225deg );
}
#gnb_check:checked ~ #gnb_btn span:nth-child(2){
  transform: scale( 0 );
  /* transform: rotate( 315deg ); */
}
#gnb_check:checked ~ #gnb_btn span:nth-child(3){
  transform: translateY( -10px ) rotate( -225deg );
}

/* 메인 배너 */
#mainbanner{
  position: relative;
  height: 100vh;
  /* height: calc( 100vh - 60px ); */
  /* background: url('../img/mainbanner_img.png') no-repeat left 70% center;
  background-size: 25%; */
}
.mainbanner_wrap{
  position: relative;
  margin: 0 auto;
  height: 100%;
}
.mainbanner_title{
  position: relative;
  display: inline-block;
  padding: 0 20px;
  /* left: 25%; */
  top: 30%;
  /* transform: translateY( -50% ); */
  color: #fff;
}

.mainbanner_title h2, .mainbanner_title p{ text-shadow: 2px 2px 6px black; }

#mainbanner img{ width: 64px;}
#mainbanner h2{
  margin-top: 36px;
  font-size: 44px;
}
#mainbanner p{
  margin-top: 30px;
  font-size: 22px;
}
.mainbanner_video{
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  /* vw vmax하면 화면 밖에 영역이 생긴다 */
  height: calc( 100vh - 60px);
  object-fit: cover;
  z-index: -1;
}

/* 섹션 공통 */
section{
  overflow: hidden;
}
.inner{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}
.box{
  /* float: left; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 660px;
}
.image{
  position: relative;
  width: 100%;
  left: -50px;
  opacity: 0;
  transition: 1s;
}
.box.img.on .image{
  left: 0;
  opacity: 1;
}
.text_box{
  position: relative;
  top: -50px;
  text-align: left;
  opacity: 0;
  transition: 1s;
}
.box.on .text_box{
  top: 0;
  opacity: 1;
}
.text_box h3{
  font-size: 40px;
  line-height: 50px;
}
.text_box p{
  margin-top: 27px;
  font-size: 20px;
}

/* 섹션1 */
#creativity{
  color: #fff;
  background-color: #001e36;
}
/* 섹션2 */
#transform .inner{
  flex-direction: row-reverse;
}

/* 섹션3 */
#brushes{
  background-color: #f0f0f0;
}

/* 섹션4 */
#explore{
  position: relative;
  color: #fff;
  background: url('../img/bottom_banner.png') 50% 50%;
  background-size: auto 100%;
  text-align: center;
  transition: .2s ease;
}
#explore:hover{
  background-size: auto 105%;
}
.bottom_banner_title h4{
  font-size: 45px;
}
.bottom_banner_title p{
  margin-top: 30px;
  font-size: 20px;
}

/* 섹션5 */
#support .inner{
  flex-direction: column;
  padding: 100px 20px;
}
.section_title{
  text-align: center;
  font-size: 36px;
}
.items_box{
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  margin-top: 80px;
}
.items_box li{
  /* float: left; */
  padding: 0 20px;
  flex-basis: 25%;
  /* width: 25%; */
  font-weight: 500;
}
.box_title{
  position: relative;
  min-height: 318px;
  padding: 40px 20px;
  border: 2px solid #f8f8f8;
  /* box-sizing: border-box; */
  transition: border .2s ease;
}
.box_title:hover{
  border: 2px solid #1473e6;
}
.box_title div{ font-size: 20px; }

.box_title p{
  /* margin-top: 6px; */
  margin-top: 6px;
  line-height: 24px;
}
.box_title span{
  display: block;
  margin-top: 15px;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 104px;
}
.box_icon{
  position: absolute;
  display: block;
  text-align: center;
  bottom: 40px;
  left: 50%;
  transform: translateX( -50% );
}
.box_icon img{
  width: 64px;
  padding: 0 5px;
}

/* 푸터 */
#footer{
  background: #f0f0f0;
}
.footer_wrap{
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  padding: 40px 20px;
  font-weight: 300;
}
.flogo{
  position: static;
  float: left;
  margin-right: 145px;

}
.flogo a{
  color: #555555;
  line-height: 0;
}
.ftext { float: left; }
.ftext ul{ overflow: hidden;}
.ftext li{
  float: left;
  margin-right: 40px;
}
.ftext li:last-child{ margin-right: 0; }
.ftext a{ font-weight: 400; }
.ftext p a{ font-weight: 300; }
.ftext p{ margin-top: 10px; }
/* .ftext span { font-size: 12px; } */

.region{
  position: absolute;
  top: 35px;
  right: 20px;
  line-height: 14px;
  padding: 8px 40px 8px 10px;
  background: #fff url('../img/select_box_arrow.png') no-repeat right 13px center;
  appearance: none;
  outline: none;
}
.region:focus{ border: 1px solid #999999; }


@media screen and ( max-width: 1320px ){
  #header, #mainbanner, section, #footer{
    min-width: auto;
  }
  .header_wrap, .mainbanner_wrap, .items_box, .footer_wrap{
    width: auto;
  }
}

@media screen and ( max-width: 1024px ){
  .header_wrap{
    justify-content: flex-end;
  }
  .items_box li{
    flex-basis: 50%;
    margin-bottom: 40px;
  }
  section .box{
    width: 100%;
  }
  .flogo{
    margin-right: 105px;
  }
}

@media screen and ( max-width: 768px ){
  .header_wrap{
    width: 100%;
    justify-content: flex-end;
  }
  #mainbanner{
    height: 600px;
  }
  .mainbanner_wrap{
    /* position: absolute; */
  }
  .mainbanner_title{
    /* top: 90px;
    left: 20px; */
  }
  .mainbanner_video {
    /* position: relative;
    height: auto; */
  }
  section .inner{
    flex-wrap: wrap;
  }
  h4 span{
    line-height: 2;
    display: block;
  }
  .region{
    display: none;
  }
  section .box{
    justify-content: flex-start;
  }
}

@media screen and ( max-width: 640px ){
  #header, #mainbanner, section, #footer{
    min-width: 320px;
  }
  .common_btn{
    font-size: 16px;
  }
  #gnb{
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    text-align: right;
    /* background: rgba( 0 0 0 / 0 ); */
    transition: .2s;
    visibility: hidden;
  }
  #gnb_check:checked ~ #gnb{
    visibility: visible;
  }
  .gnb_bg{
    position: absolute;
    display: block;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba( 0, 0, 0, 0 );
    transition: .2s;
  }
  #gnb_check:checked ~ #gnb .gnb_bg{
    background: rgba( 0, 0, 0, .15 );
  }

  .header_items{
    padding: 0;
  }
  .logo_area.header_items{
    padding-left: 20px;
  }
  #gnb_btn{
    display: block;
  }
  #gnb_check:checked ~ #gnb ul{
    right: 0;
  }
  #gnb ul{
    position: relative;
    display: inline-block;
    padding-top: 80px;
    width: 60%;
    height: 100vh;
    right: -100%;
    text-align: right;
    background: #fff;
    box-shadow: 0 0 5px 0 rgba( 0, 0, 0, 0.15 );
    transition: right .2s;
    z-index: 100;
  }
  #gnb li{
    float: none;
    text-align: center;
    border-bottom: 1px solid #eee;
    /* box-sizing: border-box; */
    transition: background .2s;
  }
  #gnb li:first-child{
    border-top: 1px solid #eee;
  }
  #gnb a{
    display: inline-block;
    padding: 10px 20px;
    width: 100%;
    height: 100%;
    line-height: 50px;
    /* color: #fff; */
    text-decoration: none;
    transition: color .2s;
  }
  #gnb li:hover{
    background: #1473e6;
  }
  #gnb li:hover a{
    color: #fff;
  }


  .inner, section .box{
    min-height: 300px;
  }
  #mainbanner h2, .text_box h3, .bottom_banner_title h4, .section_title h4{
    font-size: 21px;
    line-height: normal;
  }
  #mainbanner p, .text_box p, .bottom_banner_title p{
    margin-top: 15px;
    font-size: 16px;
  }
  #mainbanner{
    height: 400px;
  }
  .mainbanner_title{
    top: 90px;
  }
  .mainbanner_video{
    height: 360px;
  }
  section:nth-of-type(2) .inner{
    flex-direction: row;
  }
  section:nth-of-type(2) .box.img img{
    height: 100%;
  }
  h4 span {
    line-height: normal;
    display: inline;
  }
  .items_box li{
    flex-basis: 100%;
    padding: 0;
  }
  .flogo span{
    display: inline;
  }
  .ftext, .ftext li{
    margin-top: 10px;
  }
}
